:host {
  margin-bottom: 96px;
  display: block;
}

ul {
  height:80px;
  align-items: center;
}

.blueAva {
  background-color: #043e6d;
}

.buttonAva {
  width: 80px;
  border-radius: 48%;
  margin-right: 20px;
}

.imgLogo {
  width: 150px;
  height: 60px;
}

.search {
  width: 500px;
  margin-left: 50px;
}

p {
  color: white;
  margin-top: 16px;
  margin-right: 70px;
}
