<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar blueAva">
    <img src="../../../../assets/images/logo2.png" class="imgLogo" alt="BancoAva">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <input class="form-control search" type="text" placeholder="Search" aria-label="Search">
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <p class="">Olá Usuário</p>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-light buttonAva">Sair</button>
            </li>
        </ul>
    </div>
</nav>
