<nav class="navbar navbar-expand-lg navbar-light fibra-bg-primary">
  <button type="button" id="sidebarCollapse" [class.active]="_toggle" class="navbar-btn" (click)="_toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
  </button>

  <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/logo2.png" class="d-inline-block align-top navbar-logo" alt="">
  </a>

  <div ngbDropdown class="navbar-right d-inline-block">
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item">
        <p class="">Olá Usuário</p>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-light btn-logout" (click)="logout()">Sair</button>
      </li>
  </ul>
  </div>
</nav>
