<div class="container">
  <div class="p-2 mt-2 border border-dark">
    <p>Saldo disponível: </p>
    <h3>{{ conta?.saldo | currency:"BRL" }}</h3>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th scope="col">Data</th>
          <th scope="col">Lançamento</th>
          <th scope="col">Valor (R$)</th>
          <th scope="col">Saldo (R$)</th>
        </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let item of extrato">
            <img src="../../../assets/images/bill.png">
            <td>{{ item.data | date:"dd/MM" }}</td>
            <td>{{ item.historico }}</td>
            <td>{{ item.valor }}</td>
            <td>{{ item.nome }}</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
