<h1>Extrato</h1>

<!-- <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p> -->

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Data</th>
    <th scope="col">Lançamento</th>
    <th scope="col">Valor (R$)</th>
    <th scope="col">Saldo (R$)</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">teste</th>
    <td>10/01/2020</td>
    <td>TRANSFERÊNCIA BANCÁRIA</td>
    <td>R$ 644,00</td>
    <td>R$ 50.000,00</td>
  </tr>
  <tr>
    <th scope="row">teste</th>
    <td>11/01/2020</td>
    <td>TRANSFERÊNCIA BANCÁRIA</td>
    <td>R$ 500,00</td>
    <td>R$ 49.500,00</td>
  </tr>
  <tr>
    <th scope="row">teste</th>
    <td>12/01/2020</td>
    <td>TRANSFERÊNCIA BANCÁRIA</td>
    <td>R$ 500,00</td>
    <td>R$ 49.000,00</td>
  </tr>
  <tr>
    <th scope="row">teste</th>
    <td>13/01/2020</td>
    <td>TRANSFERÊNCIA BANCÁRIA</td>
    <td>R$ 500,00</td>
    <td>R$ 48.500,00</td>
  </tr>
  <tr>
    <th scope="row">teste</th>
    <td>14/01/2020</td>
    <td>TRANSFERÊNCIA BANCÁRIA</td>
    <td>R$ 500,00</td>
    <td>R$ 48.000,00</td>
  </tr>
  </tbody>
</table>