<div class="transf container">
  <div class="p-2 mt-2 border border-dark">
    <p>Ag. 0000 | C/C: 00.000000.0</p>
    <p>Saldo de Conta Corrente: (R$): 00,00</p>
  </div>

  <ngb-alert *ngIf="message">
      <strong>Warning!</strong> {{ message }}
  </ngb-alert>

  <div class="divTransf container">
    <form class="formTransf" [formGroup]="formulario">
      <ul>
        <div>
          <li>
            <span>Enviar para: </span>
            <hr>
          </li>
          <li class="form-group" *ngIf="typeTransf === 'otherBank'">
            <span for="codBanco">Codigo Banco: </span>
            <select class="form-control" formControlName="codigoBanco">
              <option value="0">Selecione...</option>
              <option value="1">001 - Banco do Brasil S.A</option>
              <option value="2">033 - Banco Santander (Brasil) S.A.</option>
              <option value="3">237 - Banco Bradesco S.A.</option>
              <option value="4">341 - Itaú Unibanco S.A.</option>
            </select>
          </li>
          <li class="form-group">
            <span for="tipoConta">Tipo de Conta</span>
            <select class="form-control" formControlName="tipoConta">
              <option value="1">Conta Corrente</option>
              <option value="2">Conta Poupança</option>
            </select>
          </li>
          <li class="form-group">
            <span for="agencia">Agencia</span>
            <input type="text" class="form-control" formControlName="agencia">
          </li>
          <li class="form-group">
            <span for="conta">Conta</span>
            <input type="text" class="form-control" formControlName="conta">
          </li>
          <li class="form-group" *ngIf="typeTransf !== 'otherBank'">
            <span for="tipoConta">Número do CPF/CNPJ</span>
            <div class="flexItens">
              <select class="form-control col-md-5">
                <option value="1">CPF</option>
                <option value="2">CNPJ</option>
              </select>
              <input type="text" class="form-control ml-1 col-md-7" formControlName="cpf">
          </div>
          </li>
          <li class="form-group" *ngIf="typeTransf !== 'otherBank'">
            <span for="nome">Nome</span>
            <input type="text" class="form-control" formControlName="nome">
          </li>
        </div>
      </ul>
    </form>
    <form class="formTransf" [formGroup]="formulario">
      <ul>
        <div>
          <li>
            <span>Dados da Transação: </span>
            <hr>
          </li>
          <li class="form-group">
              <span for="codBanco">Valor R$: </span>
              <div class="flexItens">
                <input type="text" class="form-control col-md-6" formControlName="valor">
                <select class="form-control ml-3 col-md-5" formControlName="tipoTransferencia">
                  <option>DOC</option>
                  <option>TED</option>
                </select>
              </div>
          </li>
          <li class="form-group">
            <span for="tipoConta">Finalidade</span>
            <select class="form-control" formControlName="finalidade">
              <option value="1">Credito em Conta</option>
              <option value="2">Pagamento de Impostos</option>
              <option value="3">Pagamento de Dividendos</option>
              <option value="4">Pagamento de Salarios</option>
              <option value="5">Pagamento de Fornecedores</option>
              <option value="6">Pagamento de Honorarios</option>
              <option value="7">Pagamento de alugueis e taxas de condominio</option>
              <option value="8">Pagamento de duplicatas e titulos</option>
              <option value="9">Pagamento de mensalidade escolar</option>
              <option value="10">Pensao alimenticia</option>
              <option value="11">Outros</option>
            </select>
          </li>
          <li class="form-group">
            <span for="agencia">Histórico</span>
            <input type="text" class="form-control" formControlName="historico">
          </li>
        </div>
      </ul>
    </form>
    <form class="formTransf" [formGroup]="formulario">
      <ul>
        <div>
          <li>
            <span>Informe a data: </span>
            <hr>
          </li>
          <li class="form-group">
            <input type="radio">
            <label class="ml-1"> Transferir hoje </label>
          </li>
          <li class="form-group">
              <input type="radio">
              <label class="ml-1"> Agendar para: </label>
              <br><br>
              <input type="date" class="form-control" formControlName="data">
          </li>
        </div>
      </ul>
    </form>
  </div>
  <div class="d-flex flex-row-reverse mr-5 modal-confirm">
    <!-- <button type="submit" class="btn btnTransf ml-3 mr-5" (click)="onSubmit()">Continuar</button>
    <button type="submit" class="btn btnTransf" (click)="cancelar()">Cancelar</button> -->
    <button class="btn btnTransf ml-3 mr-5" (click)="open(confirm)">Continuar<i class="fa fa-check"></i></button>
    <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
  </div>
</div>

<ng-template #confirm let-d="dismiss">
  <div class="modal-center" >
    <div>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Deseja confirmar?</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class='group-buttons-confirm'>
            <button type="button" class="btn btn-primary btn-confim" (click)="onSubmit()" >Sim</button>
            <button type="button" class="btn btn-light" (click)="d('Close click')">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
