.styledCard {
  background: #043e6d;
  border-radius: 4px;
  color: white;

  hr {
    background: white;
  }

  a {
    cursor: pointer;
  }
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  justify-content: center !important;
}


