<!-- <app-toasts></app-toasts> -->
<div class="image-background">

    <div class="wrapper fadeInDown">
        <app-loading *ngIf="busy"></app-loading>

        <div id="formContent">

            <div class="fadeIn first">
                <img src="../../assets/images/logo2.png" id="icon" alt="User Icon" />
            </div>

            <form [formGroup]="form">
                <input type="text" id="cpf" class="fadeIn second cpf-mask" name="cpf" [textMask]="{mask: maskCpf}" placeholder="Ex.: 000.000.000-00" formControlName="cpf" autocomplete="cpf" (keyup.enter)="enviar()">
                <input type="password" id="senha" class="fadeIn third" name="senha" placeholder="Senha" (keyup.enter)="enviar()" formControlName="senha">
                <button type="button" class="fadeIn fourth" (click)="enviar()">Enviar</button>
            </form>
            <!-- <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div> -->
        </div>
    </div>
</div>
