<div class="wrapper-sidebar">
    <nav id="sidebar" [class.active]="_toggle">
        <ul class="list-unstyled components">
            <li>
                <a [routerLink]="['/home']" routerLinkActive="actived">Inicio</a>
            </li>
            <li>
                <a [routerLink]="['/statement']" routerLinkActive="actived">Extrato</a>
            </li>
            <li>
                <a [routerLink]="['/transfer']" routerLinkActive="actived">Transferência</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <!-- <app-breadcrumb></app-breadcrumb> -->
        <router-outlet></router-outlet>
    </div>
</div>